/* 
primary: #ff4081;
p-light: #ff79b0;
p-dark: ##c60055;
secondary: #e676e6;
s-light: #66ffa6;
s-dark: #00b248; 
*/
/* global styles */
body {
    background-color: #ff4081;
}

h1,
h2 {
    font-family: 'Bitter', serif;
    text-align: center;
}

h1 {
    font-size: 72px;
}

li {
    display: inline-block;
}

a {
    font-size: 36px;
}

/* header styles */
header {
    margin: 0 10px;
}

header li:first-of-type {
    margin-left: 0;
}

/* footer styles */
footer a {
    font-size: 64px;
}